<div class="row">
  <div class="col-md-2"><%= link_to exam.category.name, '#' %></div>
  <div class="col-md-2"><%= exam.created_at %></div>
  <div class="col-md-1"><%= exam.result %></div>
  <div class="col-md-2"><%= exam.started_time %></div>
  <div class="col-md-2"><%= link_to exam.user.name, exam.user %></div>
  <div class="col-md-1"><%= exam.status %></div>
  <div class="col-md-2">
    <%= link_to "Delete", [:admin, exam], method: :delete,
        data: {confirm: t("deleting_confirmation")} %>
  </div>
</div>
