<% provide :title, "Edit Answersheet" %>
<div class="row">
  <div class="col-md-offset-2">
    <header>
      <p id="text-left"><%= @exam.created_at %></p>
      <p class="countdown" id="text-right" >
        <span id="timeleft" data-time=<%=@timeleft%>><% @timeleft %></span>
      </p>
    </header>

    <br>
    <h1><%= @exam.category.name %></h1>
    <% if @exam.time_out? %>
      <h2>Result: &nbsp; <%= @exam.result %></h2>
    <% end %> 
    <br><br>

    <%= form_for @exam do |f| %>
      <div class="answer-sheet"><% @i=0 %>
        <%= f.fields_for :answersheets do |builder| %>
          <%= render 'form', f: builder %>
          <% if @exam.time_out? %>
            <% if builder.object.answer && builder.object.answer.correct %>
              <p class="correct"> Correct! </p>
            <% else %>
              <p class="incorrect"> InCorrect! </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if !@exam.time_out? %>
        <div class="action">
          <%= f.submit "Submit", 
            class: "btn btn-primary col-md-1 col-md-offset-4", id: "exam_submit" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

