<% provide :title, t('title.all_exam') %>
<h1><%= t('title.all_exam') %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @exam do |f| %>
      <div class="border-c">
        <%= f.collection_select :category_id, Category.all, :id, :name, 
          {}, {class: "form-control", style: "width: auto"} %>    
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :status, value: t(:start) %>
        <%= f.submit t('button.start_new'), class: "start-new btn btn-primary" %>
      </div>
    <% end %>
  </div>  
</div>
<br><br>

<div class="exams">
  <%= render @exams %>
</div>

<%= will_paginate %>
